$primary: #5da1c1;

:root {
	--bg: #fff;
	--fg: #5c6a73;
	--scrollbarHandle: rgba(0, 0, 0, 0.2);
	--scrollbarHandleHover: rgba(0, 0, 0, 0.4);
	--link: #5c4e94;
	--hashtag: #94a029;

	@media (prefers-color-scheme: dark) {
		--bg: #111213;
		--fg: #c7d1d8;
		--scrollbarHandle: rgba(255, 255, 255, 0.2);
		--scrollbarHandleHover: rgba(255, 255, 255, 0.4);	
	}
}

@mixin shadow() {
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

	@media (max-width: 700px) {
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
	}

	@media (max-width: 500px) {
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	}
}
